*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

._body{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
}